# Скомпилированный код и артефакты сборки Maven (Строго игнорируем всё)
target/
**/target/
*.jar
*.war
*.ear
*.class

# Логи и временные файлы приложений
*.log
logs/
tmp/

# Утилита Maven Wrapper (запрещаем бинарник .jar, но оставляем скрипты запуска)
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
**/build/

### VS Code ###
.vscode/

### Инфраструктура Docker (ВАЖНО!) ###
# Игнорируем локальные папки с данными баз данных, если они появятся в проекте
*-data/
.elasticco/
